@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* CSS reset */
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  /* CSS reset end*/
}

@layer components {
  .background-setup {
    @apply flex flex-col py-12 gap-6 justify-center items-center
     w-full bg-backgroundLight dark:bg-backgroundDark text-backgroundLightOn
      dark:text-backgroundDarkOn transition-all;
  }

  .auth-card-setup {
    @apply p-4 bg-secondaryLightContainer dark:bg-secondaryDarkContainer
     text-secondaryLightContainerOn dark:text-secondaryDarkContainerOn
      rounded-xl shadow-lg flex flex-col items-start space-y-10 
    text-lg w-72 border-4 border-double border-lightOutline dark:border-darkOutline;
  }

  .auth-input-setup {
    @apply px-1 py-1 border-2 shadow-lg w-64 border-lightOutline dark:border-darkOutline
    text-primaryLightContainerOn dark:text-primaryDarkContainerOn
     placeholder-primaryLightContainerOn/40 dark:placeholder-primaryDarkContainerOn/40 
     bg-lightVariantSurface dark:bg-darkSurface;
  }
  .auth-button-setup {
    @apply px-4 py-1 border-2 bg-primaryLight dark:bg-primaryDark hover:bg-primaryLight/60
     dark:hover:bg-primaryDark/60 text-primaryLightOn dark:text-primaryDarkOn dark:border-darkOutline
      text-lg border-lightOutline rounded-lg;
  }

  .auth-link-setup {
    @apply cursor-pointer hover:text-primaryLightOn dark:hover:text-primaryDarkOn underline;
  }

  .svg-container {
    @apply cursor-pointer rounded-3xl border-2 p-2 flex items-center justify-center bg-primaryLightContainer dark:bg-primaryDarkContainer;
  }

  .svg-setup {
    @apply fill-primaryLightContainerOn dark:fill-primaryDarkContainerOn;
  }

  .svg-container:hover svg-setup {
  }
}
